<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.challengelog.mapper.ChallengesMapper">
    <select id="queryChallengesById" parameterType="int" resultType="Challenges">
        select *
        from challenges
        where id = #{id};
    </select>
    <select id="queryChallengesByDate" resultType="Challenges">
        select * from challenges
        where user_id = #{user_id} and end_time = #{today_date}
    </select>
    <insert id="insertChallenges" parameterType="Challenges">
        insert into challenges(user_id, title, content, begin_time, end_time, status, reminder)
        values (#{user_id}, #{title}, #{content}, #{begin_time}, #{end_time}, #{status}, #{reminder});
    </insert>
    <update id="updateChallenges" parameterType="Challenges">
        update challenges
        set content = #{content};
    </update>
    <delete id="deleteChallengesById" parameterType="int">
        delete from challenges where id = #{id};
    </delete>
</mapper>
